

/*
 *= require_tree .
 *= require_self
 */

body {
  background-color: black;
  color: white;
}

a {
  color: lightblue;
}

input, textarea, select {
  background-color: #222;
  color: white;
  border: 1px solid #555;
}{
  border: 1px solid #555;
}

.form-actions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.introjs-tooltip {
  color: #000;
}