<div style="min-width: 300px;">
  <div class="bg-light p-3 rounded">

    <h5 class="text-dark"><%= status %></h5>

    <div class="d-flex flex-column gap-2">
      <%= render products %>
    </div>

  </div>
</div>

 <!--col-3 → 4 columnas por fila-->
 <!--bg-light → fondo tipo Trello-->
 <!--flex-column → cards en vertical-->
 <!--gap-2 → espacio entre cards-->