<div id="<%= dom_id product%>">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
        <%= current_page?(product_path(product)) ? product.name : link_to(product.name, product) %>
        </h5>
        <p> 
          <%= product.body %>
          <%= product.status %>
        </p>
      </div>
    </div>
  </div>
</div>
