<p style="color: green"><%= notice %></p>
<!--<h6 data-step="1" data-intro="Este es el titulo"><%= current_name_file %></h6>-->

<!--row → organiza columnas horizontalmente-->
<!--flex-nowrap → evita que bajen de línea (tipo Trello)-->
<!--overflow-auto → permite scroll horizontal-->

<div class="container-fluid">
<div class="row">
  <%  @products_grouped.each do |status, products| %>
  <div class="col">
    <%= render "column", status: status, products: products %>
  </div>
<%end%>
 </div> </div>
  <div class="form-actions", data-step="2", data-intro="Este botón permite crear un nuevo producto">
<%= link_to "Nova card", new_product_path, class: "btn btn-secondary" %>
  </div>
  <!--<%#= render "pagination" %-->